.container {
        height: 424px;
        width: 768px;
        background-color: antiquewhite;              
}
.box{
    text-align: center;
    background-color: rgb(188, 188, 226);
    padding-top: 10px;
    padding-bottom: 10px;

}
.s12{text-align: center;}
.s3{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.box1{
    max-height: 150px;
    padding-top: 10px;
    background-color: rgb(247, 190, 144);
}
    
.container2 {
    height: 264px;
    width: 768px;
    background-color: rgb(221, 241, 132); 
}